<html>
<body>

Sup. How'd it go?<br>
<a href="https://zapscience.herokuapp.com/views/sendresults.php?trialhash=myhash&rating=1"><img src="https://zapscience.herokuapp.com/views/star.png"></a> 
<a href="https://zapscience.herokuapp.com/views/sendresults.php?trialhash=myhash&rating=2"><img src="https://zapscience.herokuapp.com/views/star.png"></a> 
<a href="https://zapscience.herokuapp.com/views/sendresults.php?trialhash=myhash&rating=3"><img src="https://zapscience.herokuapp.com/views/star.png"></a> 
<a href="https://zapscience.herokuapp.com/views/sendresults.php?trialhash=myhash&rating=4"><img src="https://zapscience.herokuapp.com/views/star.png"></a> 
<a href="https://zapscience.herokuapp.com/views/sendresults.php?trialhash=myhash&rating=5"><img src="https://zapscience.herokuapp.com/views/star.png"></a> 

</body>
</html>